<!DOCTYPE html>
<html>
  <head>
    <title>Daftar Ulang Siswa Baru | SMAN 3 Tangerang</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %> alert-dismissable">
          <buttton type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></buttton>
          <%= value %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
